{% extends "base.html" %}

{% block content %}
<h1 style="font-size:50px;"> <i> Battle Of Brain <sub> <font size = "5"> Online judge </font> </sub>  <sup style="float:right"> <font size = "3"> Welcome to our Online Judge </font> </sup> </i></h1>
    <ul>
        <li><a href="#"> Home </a></li>
        <li><a href="#"> Problem </a></li>
        <li><a href="#"> Contest </a></li>
        <li><a href="#"> Status </a></li>
        <li><a href="#"> User </a></li>
        <li style="float:right"> <a class="btn btn-primary" > Register </a></li>
        <li style="float:right"> <a class="btn btn-primary" href="#"> Login </a></li>
    </ul>

{% endblock content %}